{% extends 'TSSBehatBuilderBundle:Default:layout.html.twig' %}

{% block body %}
    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="panel-title">Behat Scenario Builder</h3>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-warning hidden-print pull-right btn-sm" id="ticket-open" href="#">refresh</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <ul class="nav bs-docs-sidenav">
                    {% for key, feature in features %}
                    <li class="">
                        <a href="#{{ key }}">{{ feature }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-9" id="editor">Editor</div>
        </div>

    </div>

{% endblock %}