<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TSSLabs">
    <title>{% block title %}Behat Builder{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets filter='cssrewrite,?yui_css' output='css/behat.css'
        '@TSSBehatBuilderBundle/Resources/public/css/bootstrap.css'
        '@TSSBehatBuilderBundle/Resources/public/css/navbar-fixed-top.css'
        '@TSSBehatBuilderBundle/Resources/public/js/codemirror/lib/codemirror.css'
        '@TSSBehatBuilderBundle/Resources/public/css/custom.css'
        %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}

    {% block head_javascripts %}
        {% javascripts filter='?uglifyjs2' output='js/head_behat.js'
        '@TSSBehatBuilderBundle/Resources/public/js/html5shiv.js'
        '@TSSBehatBuilderBundle/Resources/public/js/respond.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body{% block body_attributes %}{% endblock %}>
{% block body_header %}{% endblock %}

{% block body_wrapper %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block modals %}
{% endblock %}

{% block javascripts %}
    {% javascripts filter='?uglifyjs2' output='js/behat.js'
    '@FOSJsRoutingBundle/Resources/public/js/router.js'
    '@TSSBehatBuilderBundle/Resources/public/js/jquery.js'
    '@TSSBehatBuilderBundle/Resources/public/js/bootstrap.min.js'
    '@TSSBehatBuilderBundle/Resources/public/js/jstorage.min.js'
    '@TSSBehatBuilderBundle/Resources/public/js/codemirror/lib/codemirror.js'
    '@TSSBehatBuilderBundle/Resources/public/js/global.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}
</body>
</html>